h1{
   text-align: center;
 }
 .main {
   width: fit-content;
   margin: 0 auto;
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
a{
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  
}
a:hover{
  color: black;
}
li{
  padding-block-start: 12px;
}
